*{
  padding:0;
  margin: 0;
  box-sizing:border-box;
  font-family: 'Source Serif Pro', serif;
}
.hero{
  height: 100vh;
  width: 100%;
  background-image: url(../img/background\ 2.jpg);
  background-size: cover;
  background-position: center;
  
  }
  .hero-image{
  border-radius: 100%;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover{
  color:#F806CC;
  transition: 0.3s;
  
}
button{
  border: none;
  background: #F806CC;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;

}
.button-gallery{
  border: none;
  background: #F806CC;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;

}
button:hover{
  transform:scale(1.3);
  cursor: pointer;
  color: #570A57;
}
.section4content{
	text-align:center;
	 display: flex;
	 margin-left:85px;
  
   
}
.section4{
  background-color:black;
}
.testimonial-element{
  width: 400px;
  height: 420px;
  background:#A91079;
  margin-right:20px;
  padding: 15px;
 
}

.testimonial-image{
	border-radius: 100%;
	width:90px;
	height:90px;
}

.p,.section4{
  color:white;
  font-weight: lighter;
  
} 
.h2,.section4{
  color: white;
  font-weight:lighter;
}
.section5content{
  background-color:#570A57;
  padding: 10px;
  color:#ffffff;
  width:100%;
  display: flex;
	}
.section5c1{
		width:80%;
	}
.section5c2{
		width:20%;
		float:right;
	}
.footer {
  background-color: #2E0249;
  padding: 0px;
  text-align: left;


}
.footertext{
	color:white;
}

.footerheader{
	color:white;
  text-align: left;
}

.h3,.footerheader{
  text-align: center;
  float:left;
}

.footercontent{
	 display: flex;
	 height: 5000px;

}
.section3element{
  text-align: center;
  background-color: #2E0249;
}

/* Style all font awesome icons */
.fa {
  padding: 25px;
  font-size: 15px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 80%;
  
  
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
