* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,
.default-text {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: black;
}
.backgroundpicture{
background-image: url("images/background.jpg");
position: adjust;
size-adjust: 10%;
height: 100%;
width: 100%;
}

/* Style the top navigation bar */
.topnav {
  float: right;
  overflow: hidden;
  background-color: #ffffff;
}

a {
  font-family: l font-weight: 600;
  font-size: 16px;
}

.andylogo-image {
  width: 12%;
  height: 12%;
  position: relative;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #B983FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline bold;
  
}


.topnav a:hover {
  background-color: #18a2d4;
  color: #ffffff;
}

.button {
  color: #ffffff;
  background-color: #94B3FD;
  padding: 5px;
  margin-top: 10px;

  border: purple color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cambriba, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
  font-weight: 700;
}

.content {
  background-color: #94DAFF;
  padding: 10px;
  color: #01050e;
  width: 30%;
  display: inline-block;
  height: 400px;
  font-size: large;
  text-align:left

}

.content2 {
  float:right;
  width: 30%;
  display: inline-block;
}

.section2,
.section4 {
  color: #000000;
  padding: 25px;
  font-size: large;

}

.section2content {
  text-align: center;
  display: flex;
}

.element {
  width: 400px;
  height: 600px;
  background: #B983FF;
  margin-right: 20px;
  padding: 4px;
}

.elementPicture {
  margin:left;
  
}

.msposh-image {
  width: 100%;
  height: 100%;
  float: center;
}

.element1 {
  width: 400px;
  height: 600px;
  background: #B983FF;
  margin-right: 20px;
  padding: 4px;
}

.elementPicture {
  margin:left;
  
}

.msposh-image {
  width: 100%;
  height: 100%;
  float: center;
}
.products-image {
  height:100%
  width: 150%;
  float:right;
  height: 390px;
}

.section3 {
  background-color: #009DAE;
  padding: 25px;
  color: #000000;
}

.section3content {
  display: flex;
  margin-left: 35px;
  height: 250px;
  margin-bottom: 5px;
}

.section3element {
  width: 450px;
  padding: 5px;
}


.section3element1 {
  width: 450px;
  padding: 5px;
}

.section4content {
  text-align: center;
  display: flex;
  margin-left: 85px;
}

.testimonial-element {
  width: 400px;
  height: 420px;
  background: #C2FFF9;
  margin-right: 20px;
  padding: 10px;
  border:rad
  border-radius: 
}

.testimonial-image {
  border-radius: 100%;
  width: 90px;
  height: 90px;
}

.section5content {
  background-color: #B983FF;
  padding: 10px;
  color: #141111;
  width: 100%;
  display: flex;
}

.section5c1 {
  width: 120%;
}

.section5c2 {
  width: 40%;
  float: right;
}

.footer {
  background-color: #f8f5f1;
  padding: 10px;
  padding-left: 165px;
}

.footertext {
  color: #009DAE;
}

.footerheader {
  color: #000000;
}

.footercontent {
  display: flex;
  height: 250px;
}